<ion-header>
	<ion-toolbar color="secondary">
		<ion-title style="text-align:center">National symbols of India</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h6 class="ionpadding">The Republic of India has several official national symbols including a historical document,
		a flag, an emblem, an anthem, a memorial tower as well as several national heroes.</h6>
	<ion-grid>

		<ion-row>
			<ion-col class="colhed">Symbol</ion-col>
			<ion-col class="colhed">Name</ion-col>
			<ion-col class="colhed">Image</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Official Name</ion-col>
			<ion-col>Republic of India</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/2011_Census_India_population_density_map%2C_states_and_union_territories.svg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National Flag</ion-col>
			<ion-col>Tiranga</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National emblem & National motto</ion-col>
			<ion-col>Satyameva Jayate</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Emblem_of_India.svg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National anthem</ion-col>
			<ion-col>Jana Gana Mana</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Jana_Gana_Mana_sheet_music.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National song</ion-col>
			<ion-col>Vande Mataram</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Vande_Mataram_-_Bankim_Chandra_Chatterjee_%28Raag_Desh%29.png" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National days</ion-col>
			<ion-col>Independence Day, Republic Day, Gandhi Jayanti</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/0/01/National_days_of_india.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National currency</ion-col>
			<ion-col>Indian rupee</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Indian_Rupee_symbol.svg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National cockade</ion-col>
			<ion-col>Indian cockade</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/7/71/National_Cockade_of_India.svg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National animal</ion-col>
			<ion-col>Bengal tiger</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Royal_Bengal_Tiger_at_New_Delhi.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National heritage animal</ion-col>
			<ion-col>Indian elephant</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Kui_Buri_National_Park_%28Prachuap_Khiri_Khan_Province%2C_Thailand.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National bird</ion-col>
			<ion-col>Indian peacock</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Pfau_imponierend.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National flower</ion-col>
			<ion-col>Indian lotus</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Lotus_flower_%28978659%29.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National tree</ion-col>
			<ion-col>Indian banyan</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/The_great_banyan_tree.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National fruit</ion-col>
			<ion-col>Mango</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Mangifera_indica_%28Manguier_4%29.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National river</ion-col>
			<ion-col>Ganges</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Dashawamedha_Ghat_in_Varanasi_1.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

		<ion-row>
			<ion-col>National aquatic animal</ion-col>
			<ion-col>South Asian river dolphin</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Platanista_gangetica_noaa.jpg" alt="India" height="50px" width="50px" />
      </ion-col>
		</ion-row>

	</ion-grid>

	<h6 class="ionpadding">[2020]</h6>
</ion-content>