<ion-header>
	<ion-toolbar color="secondary">
		<ion-title style="text-align:center">President Of India</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h6 class="ionpadding">This list is numbered based on presidents elected after winning an Indian presidential
		election.</h6>
	<ion-grid>

		<ion-row>
			<ion-col class="colhed">Name</ion-col>
			<ion-col class="colhed">Party</ion-col>
			<ion-col class="colhed">Image</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Rajendra Prasad</ion-col>
			<ion-col>Congress</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Rajendra_Prasad_%28Indian_President%29%2C_signed_image_for_Walter_Nash_%28NZ_Prime_Minister%29%2C_1958_%2816017609534%29.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Sarvepalli Radhakrishnan</ion-col>
			<ion-col>Independent</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Photograph_of_Sarvepalli_Radhakrishnan_presented_to_First_Lady_Jacqueline_Kennedy_in_1962.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Zakir Husain</ion-col>
			<ion-col>Independent</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Zakir_2.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Varahagiri Venkata Giri</ion-col>
			<ion-col>Independent</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/VV_Giri_1974_stamp_of_India.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Fakhruddin Ali Ahmed</ion-col>
			<ion-col>Congress</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Fakhruddin_Ali_Ahmed_1977_stamp_of_India.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Neelam Sanjiva Reddy</ion-col>
			<ion-col>Janata Party</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/NeelamSanjeevaReddy.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Zail Singh</ion-col>
			<ion-col>Congress</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Giani_Zail_Singh_1995_stamp_of_India.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Ramaswamy Venkataraman</ion-col>
			<ion-col>Congress</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Ramaswamy_Venkataraman_%282012_stamp_of_India%29.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Shankar Dayal Sharma</ion-col>
			<ion-col>Congress</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/S_D_Sharma.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Kocheril Raman Narayanan</ion-col>
			<ion-col>Independent</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/3/33/President_Clinton_with_Indian_president_K._R._Narayanan_%28cropped%29.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Avul Pakir Jainulabdeen Abdul Kalam</ion-col>
			<ion-col>Independent</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Abdul_Kalam_2015_stamp_of_India.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Pratibha Patil</ion-col>
			<ion-col>Congress</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/6/61/The_President_of_India%2C_Smt._Pratibha_Patil.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Pranab Mukherjee</ion-col>
			<ion-col>Congress</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Pranab_Mukherjee_Portrait.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Ram Nath Kovind</ion-col>
			<ion-col>BJP</ion-col>
			<ion-col>
				<img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Ram_Nath_Kovind_official_portrait.jpg" alt="India" height="50px" width="50px" /></ion-col>
		</ion-row>

	</ion-grid>

	<h6 class="ionpadding">[2020]</h6>
</ion-content>