<ion-header>
	<ion-toolbar color="secondary">
		<ion-title style="text-align:center">President Of India</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h6 class="ionpadding">This list is numbered based on presidents elected after winning an Indian presidential
		election.</h6>
	<ion-grid>

		<ion-row>
			<ion-col class="colhed">Name</ion-col>
			<ion-col class="colhed">Party</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Rajendra Prasad</ion-col>
			<ion-col>Congress</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Sarvepalli Radhakrishnan</ion-col>
			<ion-col>Independent</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Zakir Husain</ion-col>
			<ion-col>Independent</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Varahagiri Venkata Giri</ion-col>
			<ion-col>Independent</ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Fakhruddin Ali Ahmed</ion-col>
			<ion-col>Congress</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Neelam Sanjiva Reddy</ion-col>
			<ion-col>Janata Party</ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Zail Singh</ion-col>
			<ion-col>Congress</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Ramaswamy Venkataraman</ion-col>
			<ion-col>Congress</ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Shankar Dayal Sharma</ion-col>
			<ion-col>Congress</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Kocheril Raman Narayanan</ion-col>
			<ion-col>Independent</ion-col>
		</ion-row>


		<ion-row>
			<ion-col>Avul Pakir Jainulabdeen Abdul Kalam</ion-col>
			<ion-col>Independent</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Pratibha Patil</ion-col>
			<ion-col>Congress</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Pranab Mukherjee</ion-col>
			<ion-col>Congress</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Ram Nath Kovind</ion-col>
			<ion-col>BJP</ion-col>
		</ion-row>

	</ion-grid>

	<h6 class="ionpadding">[2020]</h6>
</ion-content>