<ion-header>
	<ion-toolbar color="secondary">
		<ion-title style="text-align:center">States & UTs In India</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h6 class="ionpadding">There are 28 states and 8 Union territories in the country.</h6>
	<ion-grid>

		<ion-row>
			<ion-col class="colhed">States</ion-col>
			<ion-col class="colhed">UTs</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Andhra Pradesh</ion-col>
			<ion-col>Andaman and Nicobar Islands</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Arunachal Pradesh</ion-col>
			<ion-col>Chandigarh</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Assam</ion-col>
			<ion-col>Dadra and Nagar Haveli and Daman & Diu</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Bihar</ion-col>
			<ion-col>Delhi</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Chhattisgarh</ion-col>
			<ion-col>Jammu & Kashmir</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Goa</ion-col>
			<ion-col>Ladakh</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Gujarat</ion-col>
			<ion-col>Lakshadweep</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Haryana</ion-col>
			<ion-col>Puducherry</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Himachal Pradesh</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Jharkhand</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Karnataka</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Kerala</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Madhya Pradesh</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Maharashtra</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Manipur</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Meghalaya</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Mizoram</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Nagaland</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Odisha</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Punjab</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Rajasthan</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Sikkim</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Tamil Nadu</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Telangana</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Tripura</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Uttarakhand</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>Uttar Pradesh</ion-col>
			<ion-col></ion-col>
		</ion-row>

		<ion-row>
			<ion-col>West Bengal</ion-col>
			<ion-col></ion-col>
		</ion-row>

	</ion-grid>

	<h6 class="ionpadding">[2020]</h6>
</ion-content>