.evenCard {
  text-align: center;
  background-color: rgb(107, 101, 196);
  border-radius: 10px;
}

.oddCard {
  text-align: center;
  background-color: #5c5820;
  border-radius: 10px;
}

.tcolor {
  color: #fff;
}
