.evenCard {
  text-align: center;
  background-color: rgb(107, 101, 196);
  border-radius: 10px;
}

.oddCard {
  text-align: center;
  background-color: #5c5820;
  border-radius: 10px;
}

.tcolor {
  color: #fff;
}

.bg {
  background: linear-gradient(to right, #4b1248, #e0d4c2);
  //background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
}
